body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background:  transparent url(../../assets/images/herringbone.png);
    background-repeat: repeat-x repeat-y;
    
}
.navbar .navbar-nav .nav-item a:hover{
    color:red;
}

.navbar .navbar-nav .nav-item a:active{
    font-size:125%
}

.container{
    background:#ffffff;
}

h1{
   background:#4aaaa5;   
   text-align:center;
}
figure .figure-img {  
   width: 100%;
   height:100%;
   
}

figure {
    position: relative;
}
figure .figure-caption{
    position: absolute;
    top:80%;
    left:0%;
    width:100%;    
    background:#4aaaa5;
    font:bold;
    text-align: center;
    padding-left:2%;
    padding-right:2%;
    
}

form .btn{
    background:#4aaaa5;
    color:white;
    
}
form .btn:hover{
    color:red;

}
form .btn:active{
    font-size:150%;
}
form .btn:focus{
    background:orange;
}